{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'js/jquery.easyui.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/jquery.min.js' %} ">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.js' %} ">
    <title>base_page</title>
</head>
<body>
<div class="container">

</div>
{%block user%}{% endblock user%}
{%block article%}{% endblock article%}

<hr>
<div class="footer">
<p class="bg-info">CopyRight @ 2018 ~ 2020 博客社区</p>

<p class="center">Powered by Django & Bootstrap </p>
</div>
</body>
</html>