{% extends 'base.html'%}
{% load staticfiles  %}
{% block article  %}
<style>
    #atr_info {
        margin-left: 60px;
        margin-right: 20px;
    }
</style>
{% for con in articles%}

<a class="container"  href="Article/id={{con.article_id}}/">
<hr style="color: cyan">
    <h4>{{con.article_title}}</h4>

    {{con.article_outline}}<br>
    <span>作者：{{con.user}}</span>
    <span>      日期：{{con.create_time}}</span>
    <!--<span>作者：{{con.user}}</span>-->
</a>
{% endfor %}

{% endblock article   %}

